<!DOCTYPE html>
<html>
<head>
    <title>Create Block</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#add-field').click(function() {
                let fieldIndex = $('.field-group').length;
                let fieldHtml = `
                    <div class="field-group mb-3">
                        <div class="row">
                            <div class="col">
                                <input type="text" name="fields[${fieldIndex}][key]" class="form-control" placeholder="Key" required>
                            </div>
                            <div class="col">
                                <input type="text" name="fields[${fieldIndex}][value]" class="form-control" placeholder="Value" required>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-danger remove-field">Remove</button>
                            </div>
                        </div>
                    </div>
                `;
                $('#fields-container').append(fieldHtml);
            });

            $(document).on('click', '.remove-field', function() {
                $(this).closest('.field-group').remove();
            });
        });
    </script>
</head>
<body>
    <div class="container mt-5">
        <h1>Create Block</h1>

        @if (session('success'))
            <div class="alert alert-success">
                {{ session('success') }}
            </div>
        @endif

        @if ($errors->any())
            <div class="alert alert-danger">
                <ul>
                    @foreach ($errors->all() as $error)
                        <li>{{ $error }}</li>
                    @endforeach
                </ul>
            </div>
        @endif

        <form action="{{ route('blocks.store') }}" method="POST">
            @csrf
            <div id="fields-container">
                <div class="field-group mb-3">
                    <div class="row">
                        <div class="col">
                            <input type="text" name="fields[0][key]" class="form-control" placeholder="Key" required>
                        </div>
                        <div class="col">
                            <input type="text" name="fields[0][value]" class="form-control" placeholder="Value" required>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" id="add-field" class="btn btn-secondary mb-3">Add Field</button>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</body>
</html>
